<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735588259916-49e25htvmh8hk6jb76go4mqc74654c40.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735588259916-49e25htvmh8hk6jb76go4mqc74654c40</string>
	<key>API_KEY</key>
	<string>AIzaSyBqdKedMzU43wIQ3pqkBE0-4vN2CsbJOec</string>
	<key>GCM_SENDER_ID</key>
	<string>735588259916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zhydenko.develop.Slovarik</string>
	<key>PROJECT_ID</key>
	<string>slovarik-2fd1f</string>
	<key>STORAGE_BUCKET</key>
	<string>slovarik-2fd1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735588259916:ios:cb45f53e8d3b901bad7ce9</string>
	<key>DATABASE_URL</key>
	<string>https://slovarik-2fd1f.firebaseio.com</string>
</dict>
</plist>